*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Kumbh Sans', sans-serif;
}
@media (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1200px) and (max-width: 2549.98px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 2550px) and (max-width: 3549.98px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 3550px) {
  html {
    font-size: 32px;
  }
}
body {
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  background: #181818;
  color: #fff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  color: #a1a1a1;
  transition: 0.1s color;
  text-decoration: none;
}
.moonglow {
  margin: 0 auto;
  width:75%;
  }
.c-button {
  appearance: none;
  font-family: inherit;
  display: inline-block;
  min-width: 100px;
  border: 0;
  border-radius: 2rem;
  background: #fff;
  color: #181818;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  }
  
.c-button:hover,
.c-button:focus {
    background: var(--social_media_color);
	color: #fff;
 }
.c-button svg {
    display: inline-block;
    vertical-align: middle;
	font-size: 150%;
    fill: #fff;
	width: 100%;
    height: 100%;
    margin-right: 0.5rem;
	margin-top: -0.25rem;
}
a:hover,
a:focus {
  color: #fff;
}
.discord {
  --social_media_color: #5865F2;
}
.twitter {
  --social_media_color: #1da1f2;
}
.steam {
  --social_media_color: #7eaf25;
}
.epic {
  --social_media_color: #666;
}
.xbox {
  --social_media_color: #666;
}
.facebook {
  --social_media_color: linear-gradient(to bottom right, #00f2ea 25%, #000 25%, #000 75%, #ff0050 75%, #ff0050 100%);
}
.instagram {
  --social_media_color: linear-gradient(to bottom, #833ab4, #e1306c);
}
.email {
  --social_media_color: #f0b104;
}

#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
#splash h1 {
  display: none;
}
#splash .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#splash .video-container::after {
  content: '';
  position: absolute;
  height: 2.5vmin;
  left: 2.5vmin;
  right: 2.5vmin;
  bottom: 2.5vmin;
  background: #181818;
  border-radius: 10ex;
}
#splash .video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  #splash .video-container video {
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #splash .video-container video {
    width: auto;
  }
}
#splash img {
  position: absolute;
  max-width: 80%;
  max-height: 60%;
}
#splash .links {
  z-index: 500;
  position: absolute;
  top: 1rem;
  gap: 0.75em;
}
@media (max-width: 479.98px) {
  #splash .links {
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-evenly;
  }
}
@media (min-width: 480px) {
  #splash .links {
    font-size: 1.25rem;
    right: 1rem;
  }
}
.links {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #fafafa;
  color: #000;
  transition: color 0.1s, background-color 0.1s;
}
.links a:hover,
.links a:focus {
  color: #fff;
  background: var(--social_media_color);
}
section > h3,
footer > h3 {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
#about-the-team,
#about-the-game,
#mailing-list {
  padding: 4rem 0;
  text-align: center;
}
.team,
.game-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2em max(2em, 50em - 62em / 2);
  gap: 1.5em;
}
.steam-wishlist {
  margin: -0.5rem auto 0;
  width: 100%;
  padding: 0 max(2rem, 50rem - 62rem / 2) 2rem;
}
.steam-wishlist .mobile-fallback {
  display: none;
  background: #282e39;
  width: 100%;
  padding: 1rem;
  text-align: right;
}
.steam-wishlist .mobile-fallback .info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 549.97px) {
  .steam-wishlist .mobile-fallback .info {
    flex-wrap: wrap;
  }
}
.steam-wishlist .mobile-fallback .info p {
  margin-left: 1rem;
  opacity: 0.7;
  text-align: left;
  line-height: 1.3;
}
@media (max-width: 549.97px) {
  .steam-wishlist .mobile-fallback .info p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
.steam-wishlist .mobile-fallback .steam-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0;
  width: max-content;
  padding: 0.65rem 1rem;
  background: #75b022;
  color: #fff;
  background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
  background: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
  background: linear-gradient(to right, #6fa720 5%, #588a1b 95%);
}
@media (max-width: 549.97px) {
  .steam-wishlist .mobile-fallback .steam-button {
    margin-top: 0;
  }
}
.steam-wishlist .mobile-fallback .steam-button .fa-steam {
  font-size: 2rem;
  margin-right: 0.5ch;
}
.steam-wishlist .mobile-fallback .steam-button span {
  opacity: 0.85;
  padding-top: 0.25em;
}
@media (max-width: 659.97px) {
  .steam-wishlist iframe {
    display: none;
  }
  .steam-wishlist .mobile-fallback {
    display: block;
  }
}
.team-member {
  padding: 0 0.25rem 1rem;
  flex: 0 0 18rem;
  text-align: center;
}
.team-member .avatar {
  position: relative;
  transform: scale(1);
  transition: transform 0.1s;
  padding-bottom: 7%;
}
.team-member .avatar:hover,
.team-member .avatar:focus {
  transform: scale(1.08);
}
.team-member .avatar::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 100%;
  background-image: url("assets/images/team-member-outline.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: 50% 58%;
}
.team-member .avatar img {
  display: block;
  padding: 12.313432835820898%;
  transform: translateY(6.156716417910449%);
  margin-bottom: -12.313432835820898%;
  width: 100%;
  height: auto;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}
.team-member .info {
  padding: 2.25rem 1rem 1.5rem;
}
.team-member .info .byline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}
.team-member .info .byline h4 {
  font-size: 1.4em;
}
.team-member .info .byline a {
  font-size: 1.2em;
  width: 1em;
  margin-left: 0.75em;
}
.team-member .info p {
  color: #e3e3e3;
  line-height: 1.4;
}
.team-member:nth-child(1) .avatar::after {
  pointer-events: none;
  transform: rotate(-10deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(1) .avatar:hover::after,
.team-member:nth-child(1) .avatar:focus::after {
  transform: rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(2) .avatar::after {
  pointer-events: none;
  transform: scaleX(-1) rotate(-7deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(2) .avatar:hover::after,
.team-member:nth-child(2) .avatar:focus::after {
  transform: scaleX(-1) rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(3) .avatar::after {
  pointer-events: none;
  transform: rotate(-3deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(3) .avatar:hover::after,
.team-member:nth-child(3) .avatar:focus::after {
  transform: rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(4) .avatar::after {
  pointer-events: none;
  transform: scaleX(-1) rotate(-5deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(4) .avatar:hover::after,
.team-member:nth-child(4) .avatar:focus::after {
  transform: scaleX(-1) rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(5) .avatar::after {
  pointer-events: none;
  transform: rotate(-6deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(5) .avatar:hover::after,
.team-member:nth-child(5) .avatar:focus::after {
  transform: rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(6) .avatar::after {
  pointer-events: none;
  transform: scaleX(-1) rotate(-7deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(6) .avatar:hover::after,
.team-member:nth-child(6) .avatar:focus::after {
  transform: scaleX(-1) rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(7) .avatar::after {
  pointer-events: none;
  transform: rotate(-9deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(7) .avatar:hover::after,
.team-member:nth-child(7) .avatar:focus::after {
  transform: rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(8) .avatar::after {
  pointer-events: none;
  transform: scaleX(-1) rotate(-8deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(8) .avatar:hover::after,
.team-member:nth-child(8) .avatar:focus::after {
  transform: scaleX(-1) rotate(0deg) translateY(-1.4%);
}
.team-member:nth-child(9) .avatar::after {
  pointer-events: none;
  transform: rotate(-7deg) translateY(-1.4%);
  transition: transform 0.1s;
}
.team-member:nth-child(9) .avatar:hover::after,
.team-member:nth-child(9) .avatar:focus::after {
  transform: rotate(0deg) translateY(-1.4%);
}
.game-info {
  gap: 0;
}
@media (max-width: 559.97px) {
  .game-info {
    flex-direction: column;
  }
}
.slideshow,
.trailer {
  border: 2px solid #fff;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
}
.slideshow {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  margin-right: 0.75rem;
  scrollbar-width: none;
}
.slideshow::after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}
@media (min-width: 560px) {
  .slideshow {
    flex: 1;
  }
}
.slideshow::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
.slideshow picture {
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.slideshow img {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
  vertical-align: middle;
}
.trailer {
  font-size: 0;
  position: relative;
  width: 100%;
}
@media (max-width: 559.97px) {
  .trailer {
    margin-top: 1.5rem;
  }
}
@media (min-width: 560px) {
  .trailer {
    flex: 1;
    margin-left: 0.75rem;
  }
}
.trailer::after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}
.trailer .iframe-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.trailer .iframe-wrapper img,
.trailer .iframe-wrapper iframe,
.trailer .iframe-wrapper object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.newsletter-sign-up h4,
.newsletter-sign-up p {
  font-family: 'Kumbh Sans', sans-serif !important;
  text-align: center !important;
}
.newsletter-sign-up h4 {
  text-transform: uppercase !important;
  font-size: 2rem !important;
}
.newsletter-sign-up p {
  font-size: 1rem !important;
  margin-bottom: 1rem !important;
  line-height: 1.5;
}
.newsletter-sign-up input {
  font-family: Arial, sans-serif !important;
  background: transparent !important;
  border: 2px solid #fff !important;
  outline: none !important;
  color: #fff !important;
  border-radius: 10ex !important;
  padding: 0.5em 1em !important;
  font-size: 13.3333px !important;
  width: unset !important;
  line-height: normal !important;
}
.newsletter-sign-up input::placeholder {
  color: #777 !important;
}
.newsletter-sign-up button {
  background-color: transparent !important;
  border: 2px solid #fff !important;
  outline: none !important;
  color: #fff !important;
  border-radius: 10ex !important;
  padding: 0.5em 1em !important;
  cursor: pointer !important;
  transition: 0.1s color, 0.1s background-color !important;
  line-height: normal !important;
}
.newsletter-sign-up button:hover,
.newsletter-sign-up button:focus {
  background-color: #fff !important;
  color: #000 !important;
}
.newsletter-sign-up .horizontal-fields {
  width: auto !important;
  float: unset !important;
}
.ml-form-embedContent {
  margin-bottom: 0 !important;
}
#mlb2-3703915.ml-form-embedContainer h4:first-of-type {
  text-transform: uppercase !important;
}
.ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
  padding-right: 0 !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
  padding: 0 !important;
}
.ml-input-horizontal,
.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal {
  display: inline-block;
  width: auto !important;
  float: unset !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group {
  text-align: center !important;
  width: auto !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button.primary:first-of-type {
  width: unset !important;
  padding: 0.5em 1em !important;
  border: 2px solid #fff !important;
  font-size: 13.3333px !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button.primary:first-of-type:hover,
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button.primary:first-of-type:focus {
  background-color: #fff !important;
  color: #000 !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button.primary:first-of-type::before {
  display: none !important;
  font-size: 13.3333px !important;
  font-family: 'Font Awesome 5 Pro' !important;
  font-weight: 900 !important;
  content: '\f061' !important;
}
@media only screen and (max-width: 400px) {
  .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal:first-of-type {
    width: unset !important;
  }
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:first-of-type {
  font-size: 13.3333px !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:last-of-type {
  width: 44.25px !important;
  padding: 0.5em 0 !important;
  border: 2px solid #fff !important;
  border-radius: 10ex !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:last-of-type .ml-form-embedSubmitLoad {
  width: unset !important;
  height: unset !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:last-of-type:hover,
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:last-of-type:focus {
  background-color: #fff !important;
  color: #000 !important;
  transition: filter 0.1s;
  border: 2px solid #fff !important;
}
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:last-of-type:hover .ml-form-embedSubmitLoad,
#mlb2-3703915.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:last-of-type:focus .ml-form-embedSubmitLoad {
  filter: invert(1);
}
}
footer {
  padding: 2rem max(2rem, 50rem - 62rem / 2);
  padding-bottom: 0;
  text-align: center;
  line-height: 1.5;
}
footer .links {
  margin-top: -0.25rem;
}
footer .links .email {
  position: relative;
}
footer .links .email::after {
  content: '';
  position: absolute;
  display: block;
  left: -15%;
  top: -25.5%;
  width: 130%;
  padding-bottom: 130%;
  background-image: url("assets/images/team-member-outline.png");
  background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  transform-origin: 50% 58%;
  transform: scaleX(-1);
}
footer .copyright {
  font-size: 0.85em;
  margin-top: 1.5rem;
  display: block;
  line-height: 1.5;
}
footer .site-byline {
  margin-top: 0.5rem;
  font-size: 0.7em;
  opacity: 0.7;
  line-height: 1.5;
}
footer .bottom {
  max-width: 96rem/2;
  margin: 15rem auto 0;
  background-image: url("assets/images/bunnyhug-waving-footer.png");
  background-size: cover;
  background-position: center bottom;
}
@media (max-width: 719.98px) {
  footer .bottom {
    position: relative;
    width: 90%;
  }
  footer .bottom::after {
    content: '';
    display: block;
    padding-bottom: 48.38709677419355%;
  }
}
@media (min-width: 720px) and (max-width: 899.98px) {
  footer .bottom {
    position: relative;
    width: 70%;
  }
  footer .bottom::after {
    content: '';
    display: block;
    padding-bottom: 48.38709677419355%;
  }
}
@media (min-width: 900px) {
  footer .bottom {
    position: relative;
    width: 50%;
  }
  footer .bottom::after {
    content: '';
    display: block;
    padding-bottom: 48.38709677419355%;
  }
}

